# pandas for Data Science

![Data Science Workflow](img/ds-workflow.png)

## pandas
- When working with tabular data (spreadsheets, databases, etc) **pandas** is the right tool
- **pandas** makes it easy to acquire, explore, clean, process, analyze, and visualize your data
- This basically covers the full Data Science process

## pandas help
- **pandas** is a large tool but also complex
- **pandas** can do (almost) everything with data
    - if you can do it in Excel, you can do it in **pandas**
- **pandas** has a great [Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) to help you
- **pandas** also has great [tutorials](https://pandas.pydata.org/docs/getting_started/index.html)

## What will we cover here?
- Some insights into **DataFrames** (the main datastructure in **pandas**)
- How to work with data

## This course also covers
- Later we will dive into how **pandas** can get data from various sources
    - Web Scraping, Databases, CSV, Parquet, Excel files
- How to combine data from different sources
- How to deal with missing data

## Getting started with pandas
- **pandas** is installed by default in anaconda (JuPyter Notebooks)
- In other environments you can install it with
    - ```pip install pandas```
- To access **pandas** you need to import it
    - ```import pandas as pd```

In [1]:
import pandas as pd

### What is pandas?
- **pandas** is like an Excel sheet - just better
- to learn pandas, let's play with some data

### Read data from CSV
- What is CSV? See this lecture ([Lecture on CSV](https://youtu.be/LEyojSOg4EI))
- ```pd.read_csv(filename, parse_dates, index_col)``` ([docs](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html))
    - ```filename```: The path to the filename
    - ```parse_dates=True```: If True -> try parsing the index (default False)
    - ```index_col=0```: Set the index to be column 0

In [8]:
data=pd.read_csv('files/aapl.csv',parse_dates=True, index_col=0)

### Always check data
- The ```.head()```: prints the first 5 columns

In [9]:

data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.269150
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.852982
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.505653
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.688080

## Index and columns
- ```.index```: Returns the index
- ```.columns```: Returns the column names in a list

In [10]:
data.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04',
               '2021-11-05', '2021-11-08', '2021-11-09', '2021-11-10',
               '2021-11-11', '2021-11-12'],
              dtype='datetime64[ns]', name='Date', length=472, freq=None)

In [11]:
data.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

## Each column has a data type
- ```.dtypes```: Returns the data types of each column

In [13]:
data.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

## The size and shape of data
- ```len(data)```: gives the number of rows in the DataFrame
- ```.shape```: Returns the number of rows and columns in the DataFrame

In [14]:
len(data)

472

In [15]:
data.shape

(472, 6)

## Slicing rows and columns
- ```data['Close']```: Select one column (Series)
- ```data[['Open', 'Close']]```: Select multiple columns with specific names
- ```data.loc['2020-05-01':'2021-05-01']```: Select all columns between the dates (including 2021-05-01)
- ```data.iloc[50:55]```: Select all columns between rows 50-55 (excluding 55)

In [16]:
data['Close']

Date
2020-01-02     75.087502
2020-01-03     74.357498
2020-01-06     74.949997
2020-01-07     74.597504
2020-01-08     75.797501
                 ...
2021-11-08    150.440002
2021-11-09    150.809998
2021-11-10    147.919998
2021-11-11    147.869995
2021-11-12    149.990005
Name: Close, Length: 472, dtype: float64

In [17]:
data[['Close','Volume']]

                 Close       Volume
Date
2020-01-02   75.087502  135480400.0
2020-01-03   74.357498  146322800.0
2020-01-06   74.949997  118387200.0
2020-01-07   74.597504  108872000.0
2020-01-08   75.797501  132079200.0
...                ...          ...
2021-11-08  150.440002   55020900.0
2021-11-09  150.809998   56787900.0
2021-11-10  147.919998   65187100.0
2021-11-11  147.869995   41000000.0
2021-11-12  149.990005   63632600.0

[472 rows x 2 columns]

In [21]:
data.loc['2021-01-04':'2021-01-07']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,133.610001,126.760002,133.520004,129.410004,143301900.0,128.617111
2021-01-05,131.740005,128.429993,128.889999,131.009995,97664900.0,130.207291
2021-01-06,131.050003,126.379997,127.720001,126.599998,155088000.0,125.824326
2021-01-07,131.630005,127.860001,128.360001,130.919998,109578200.0,130.117844

In [22]:
data.iloc[20:24]

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-31  80.669998  77.072502  80.232498  77.377502  199588400.0  76.244957
2020-02-03  78.372498  75.555000  76.074997  77.165001  173788400.0  76.035561
2020-02-04  79.910004  78.407501  78.827499  79.712502  136616400.0  78.545776
2020-02-05  81.190002  79.737503  80.879997  80.362503  118826800.0  79.186264

## Arithmetic operations
- Calculating with columns on all rows
    - Example: ```data['Close'] - data['Open']```
- Creating new columns
    - Example: ```data['New'] = data['Open'] - data['Close']```

In [23]:
data["Close"]-data["Open"]

Date
2020-01-02    1.027504
2020-01-03    0.070000
2020-01-06    1.502495
2020-01-07   -0.362495
2020-01-08    1.507500
                ...
2021-11-08   -0.970001
2021-11-09    0.610001
2021-11-10   -2.100006
2021-11-11   -1.090012
2021-11-12    1.560013
Length: 472, dtype: float64

In [24]:
data['New']=data["Close"]-data["Open"]

In [26]:
data.head()

,High,Low,Open,Close,Volume,Adj Close,New
Date,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653,-0.362495
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500

## Select data
- Select data based boolean expressions
    - Example: ```data['New'] > 0```
    - Example: ```data[data['New'] > 0]```

In [27]:
data['New']>0

Date
2020-01-02     True
2020-01-03     True
2020-01-06     True
2020-01-07    False
2020-01-08     True
              ...
2021-11-08    False
2021-11-09     True
2021-11-10    False
2021-11-11    False
2021-11-12     True
Name: New, Length: 472, dtype: bool

In [28]:
data[data['New']>0]

,High,Low,Open,Close,Volume,Adj Close,New
Date,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500
2020-01-09,77.607498,76.550003,76.809998,77.407501,170108400.0,76.274513,0.597504
...,...,...,...,...,...,...,...
2021-10-29,149.940002,146.410004,147.220001,149.800003,124850400.0,149.581696,2.580002
2021-11-02,151.570007,148.649994,148.660004,150.020004,69122000.0,149.801376,1.360001
2021-11-03,151.970001,149.820007,150.389999,151.490005,54511500.0,151.269241,1.100006
2021-11-09,151.429993,150.059998,150.199997,150.809998,56787900.0,150.809998,0.610001
2021-11-12,150.399994,147.479996,148.429993,149.990005,63632600.0,149.990005,1.560013

## Groupby and value_counts
- Example
```Python
data['Category'] = data['New'] > 0
data.groupby('Category').mean()
```
- Example
```Python
data['Category'].value_counts()
(data['New'] > 0).value_counts()
```

In [29]:
data['Category']=data['New']>0
data.groupby('Category').mean()

,High,Low,Open,Close,Volume,Adj Close,New
Category,,,,,,,
False,118.26620,115.529327,117.593958,116.201648,1.245267e+08,115.548601,-1.392310
True,113.79496,111.095170,111.814810,113.178203,1.260042e+08,112.481534,1.363393

In [31]:
data['Category'].value_counts()

True     249
False    223
Name: Category, dtype: int64